<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string></string>
            </array>
            <key>CFBundleIconName</key>
            <string></string>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White</string>
				</array>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
